<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-8 offset-2">
        <h3>Add a New Employee</h3>

        <form method="post" action="/employees"   novalidate class="needs-validation">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" name="name" placeholder="Enter name:" class="form-control" required />
                <div class="invalid-feedback">Please enter the name.</div>
            </div>

            <div class="mb-3">
                <label for="employeeId" class="form-label">Employee ID</label>
                <input type="text" name="employeeId" placeholder="Enter employee ID:" class="form-control" required />
                <div class="invalid-feedback">Please enter the employee ID.</div>
            </div>

            <div class="mb-3">
                <label for="employeeUrl" class="form-label">Employee Image Link</label>
                <input type="text" name="profilePhoto[url]" placeholder="Enter employee Image URL:" class="form-control" required />
                <div class="invalid-feedback">Please enter a valid URL.</div>
            </div>
            

            <div class="mb-3">
                <label for="position" class="form-label">Position</label>
                <input type="text" name="position" placeholder="Enter position:" class="form-control" required />
                <div class="invalid-feedback">Please enter the position.</div>
            </div>

            <div class="mb-3">
                <label for="department" class="form-label">Department</label>
                <input type="text" name="department" placeholder="Enter department:" class="form-control" required />
                <div class="invalid-feedback">Please enter the department.</div>
            </div>

            <div class="mb-3">
                <label for="dateOfJoining" class="form-label">Date of Joining</label>
                <input type="date" name="dateOfJoining" class="form-control" required />
                <div class="invalid-feedback">Please enter the date of joining.</div>
            </div>

            <div class="mb-3">
                <label for="totalAttendance" class="form-label">Total Attendance</label>
                <input type="number" name="totalAttendance" placeholder="Enter total attendance:" class="form-control" required />
                <div class="invalid-feedback">Please enter the total attendance.</div>
            </div>

            <div class="mb-3">
                <label for="lastAttendanceTime" class="form-label">Last Attendance Time</label>
                <input type="datetime-local" name="lastAttendanceTime" class="form-control" required />
                <div class="invalid-feedback">Please enter the last attendance time.</div>
            </div>

            <h4>Contact Information</h4>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="contactInformation[email]" placeholder="Enter email:" class="form-control" required />
                <div class="invalid-feedback">Please enter a valid email address.</div>
            </div>

            <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="text" name="contactInformation[phone]" placeholder="Enter phone number:" class="form-control" required />
                <div class="invalid-feedback">Please enter the phone number.</div>
            </div>

            <h4>Address</h4>
            <div class="mb-3">
                <label for="street" class="form-label">Street</label>
                <input type="text" name="address[street]" placeholder="Enter street:" class="form-control" />
                
            </div>

            <div class="mb-3">
                <label for="city" class="form-label">City</label>
                <input type="text" name="address[city]" placeholder="Enter city:" class="form-control" />
            </div>

            <div class="mb-3">
                <label for="state" class="form-label">State</label>
                <input type="text" name="address[state]" placeholder="Enter state:" class="form-control" />
            </div>

            <div class="mb-3">
                <label for="postalCode" class="form-label">Postal Code</label>
                <input type="text" name="address[postalCode]" placeholder="Enter postal code:" class="form-control" />
            </div>

            <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="address[country]" placeholder="Enter country:" class="form-control" />
            </div>

            <div class="mb-3">
                <label for="salary" class="form-label">Salary</label>
                <input type="text" name="salary" placeholder="Enter salary:" class="form-control" required />
                <div class="invalid-feedback">Please enter the salary.</div>
            </div>

            <button class="btn btn-dark add-btn mt-3">Add Employee</button>
        </form>
        <br>
        
    </div>
</div>
